.spaced {
  margin: -10px;
  padding: 10px;
}

.centered-text-block {
  margin: 50px auto;
  width: 720px;
  line-height: 1.5;
  text-align: center;
}
.centered-image {
  margin: 50px auto;
  width: 860px;
  text-align: center;
}
.centered-image img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .centered-image {
    width: 720px;
  }
}

.container {
  padding: 15px 50px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section.breathe {
  margin-top: 30px;
  margin-bottom: 10px;
}
div.breathe {
  margin-top: 15px;
  margin-bottom: 8px;
}

div.well {
  background-color: #f0f0f0;
  padding: 10px;
}
